html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #800020, #760c0c) no-repeat;
    background-size: 100% 100vh; /* 전체 너비, 높이 200px */
    background-position: top; /* 밑부분에 배치 */
}

#imageContainer {
    margin: top 60px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#rotatingImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
    transition: filter 2s ease-in-out;
}

#centerText {
    position: absolute;
    top: calc(25% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: min(7vw, 50px); /* 브라우저 너비에 따라 크기 조절 */
    color: lightgray; /* 초기 색상 */
    text-align: center;
    transition: color 1s linear; /* 색상 변화 효과 */
    white-space: nowrap;
}

#menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: linear-gradient(to right, black, #333); /* 왼쪽은 검정색, 오른쪽은 짙은 회색 */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo {
    margin-left: 5px;
    height: 50px; /* 로고 이미지 크기 */
}

#menuItems a {
    margin-right: 23px;
    text-decoration: none;
    color: white; /* 메뉴 항목 색상 */
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
}

#menuItems a:hover {
    color: lightgray; /* 마우스 호버 시 색상을 light gray로 변경 */
    transition: color 0.25s ease-out;
}

#buttonsContainer {
    position: absolute;
    margin: 0 auto;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row; /* 버튼을 세로로 정렬 */
    align-items: center; /* 버튼을 중앙에 배치 */
    gap: 100px; /* 버튼 사이의 간격 */
}

.roundedButton {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 2vh 3vw;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    white-space: nowrap;
}

.gradientButton1 {
    background-image: linear-gradient(to bottom right, #800020, #cc0040);
    outline: 2px solid #ff5577;
    color: #ff5577
}

.gradientButton2 {
    background-image: linear-gradient(to bottom right, #FF99FF, #FFCCFF);
    outline: 2px solid white;
}

#phoneContainer {
    text-align: center; /* 가운데 정렬 */
    margin: 0 auto;
    margin-top: 175px; /* 상단 여백 */
}

#phoneContainer a {
    display: block; /* 블록 레벨 요소로 만듬 */
    color: white; /* 링크 색상 */
    font-size: 40px; /* 폰트 크기 */
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

#phoneContainer p {
    color: white; /* 문구 색상 */
    font-size: 16px; /* 문구 폰트 크기 */
    font-family: 'Nanum Gothic', sans-serif;
}

#unitPlanContainer {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin-top: 100px; /* 상단 여백 */
}

#unitPlanContainer h2 {
    margin: 0 0 30px 0; /* 텍스트 아래 여백 */
    font-size: calc(70px + 2vw);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.line {
    width: 80%; /* 선의 너비 */
    height: 2px; /* 선의 두께 */
    background-color: darkgray; /* 선의 색상 */
    margin: 0 auto; /* 수평 중앙 정렬 */
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap; /* 화면이 작아지면 이미지가 다음 줄로 넘어감 */
    justify-content: space-around;
    width: 75vw;
    margin: 0 auto;
}

.imagesContainer img {
    margin-top: 66px;
    outline: 2px solid darkgray;
    width: calc(25% - 10px);
    height: auto;
    margin-bottom: 10px; /* 이미지 사이의 수직 간격 */
}

#layoutPlanContainer {
    text-align: center; /* 가운데 정렬 */
    margin-top: 100px; /* 상단 여백 */
}

#layoutPlanContainer h2 {
    font-size: calc(57px + 2vw);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    margin: 0 0 30px 0; /* 텍스트 아래 여백 */
}

#layoutPlanContainer img {
    display: block; /* 이미지를 블록 레벨 요소로 만듬 */
    margin: 66px auto; /* 상하 여백과 가운데 정렬 */
    width: 75%; /* 이미지의 너비, 필요에 따라 조정 */
    outline: 2px solid darkgray
}

#livingEnvironmentContainer {
    text-align: center; /* 가운데 정렬 */
    margin-top: 150px; /* 상단 여백 */
}

#livingEnvironmentContainer h2 {
    font-size: calc(57px + 2vw);
    font-family: 'Nanum Myeongjo', serif; /* 나눔명조 폰트 적용 */
    font-weight: bold;
    margin: 0 0 30px 0; /* 텍스트 아래 여백 */
}

#livingEnvironmentContainer img {
    display: block; /* 이미지를 블록 레벨 요소로 만듬 */
    margin: 66px auto; /* 상하 여백과 가운데 정렬 */
    width: 75%; /* 이미지의 너비, 필요에 따라 조정 */
    outline: 2px solid darkgray
}

#premiumContainer {
    text-align: center; /* 가운데 정렬 */
    margin-top: 100px; /* 상단 여백 */
}

#premiumContainer h2 {
    font-size: calc(70px + 2vw);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; /* 볼드체 적용 */
    margin: 0 0 30px 0; /* 텍스트 아래 여백 */
}

#premiumContainer img {
    display: block; /* 이미지를 블록 레벨 요소로 만듬 */
    margin: 66px auto; /* 상하 여백과 가운데 정렬 */
    width: 70%; /* 이미지의 너비, 필요에 따라 조정 */
    outline: 2px solid darkgray
}


/* 화면 너비가 600픽셀 이하일 때의 스타일 */
@media (max-width: 850px) {
    .imagesContainer img {
        width: 70%; /* 화면이 작을 때 이미지 너비를 100%로 설정 */
    }
}


#formContainer {
    font-family: 'Nanum Gothic Coding', monospace; /* 나눔고딕 코딩 적용 */
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2; /* 배경색 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.form-group {
    margin-bottom: 15px; /* 양식 요소 간 간격 */
}

label {
    display: block;
    margin-bottom: 5px; /* 라벨과 입력 필드 사이의 간격 */
}

input[type="text"],
input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* 입력 필드 모서리 둥글게 */
}

input[type="submit"] {
    background-color: #4CAF50; /* 제출 버튼 배경색 */
    color: white;
    cursor: pointer; /* 마우스 오버시 커서 변경 */
}

input[type="submit"]:hover {
    background-color: #45a049; /* 버튼 호버 효과 */
}

#formContainer label,
#formContainer input[type="text"],
#formContainer input[type="submit"] {
    font-size: 16px; /* 글씨 크기 증가 */
    font-weight: bold;
}

#formContainer input::placeholder {
    color: #c3c3c3; /* 연한 회색으로 플레이스홀더 텍스트 색상 설정 */
    /* 필요한 경우 추가 스타일 */
}

#reservationTitle h2 {
    font-family: 'Nanum Myeongjo', serif; /* 나눔명조 폰트 적용 */
    text-align: center; /* 가운데 정렬 */
    color: #333; /* 색상 */
    padding: 20px 0; /* 상하 여백 */
    margin: 0 0 20px 0; /* 아래쪽 여백 */
    font-size: 28px; /* 글자 크기 */
}
